# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [1]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [ ]:
# Select the 'Limit' and 'Rating' columns of the first five observations
df_subset = df[['Limit','Rating']].head(5)

In [ ]:
# Select the first five observations with 4 cards
df_filtered = df[df['Cards'] == 4].head(5)

In [ ]:
# Sort the observations by 'Education'. Show users with a high education value first. 
df_sorted = df.sort_values('Education',ascending=False)

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:] 
```

In [ ]:
# To select all rows and columns and return the entire DataFrame
df.iloc[:,:]

In [ ]:
# Select the rows and columns from 5th index onwards and return the entire DataFrame
df.iloc[5:,5:]

In [ ]:
# Select all the rows but only the first column
df.iloc[:,0]

In [ ]:
# Select the row at 9th index and all the columns
df.iloc[9,:]